@include font-Lato('Lato', 'Lato-Regular');
@include font-Lato('LatoLight', 'Lato-Light');
@include font-Lato('LatoMedium', 'Lato-Medium');
@include font-Lato('LatoBold', 'Lato-Bold');
@include font-Lato('LatoHeavy', 'Lato-Heavy');

@include font-YesevaOne('YesevaOne', 'YesevaOne-Regular');

@include font-Circular('CircularBook', 'Circular-Book');
@include font-Circular('CircularMedium', 'Circular-Medium');
@include font-Circular('CircularBold', 'Circular-Bold');
/*========THEME============*/
//highlighter black bg
$primaryColor: #1ED760;
$secondaryColor:#1ED760;
$primaryColorDark: #616467;
$primaryColorDarker: #1A1A1A;
$primaryGreyColor:#919496;
$secondaryDarkColor:#1C1C1C;
$backgroundColor:#1C273A;
$gutterWidth: 1.25rem;
$black: #000; //black color for text
$white: #fff; //black color for text
$borderColor:#E5E5E5;

/*========FONTS============*/
//highlighter black bg
$generalFontFamily: CircularBook;
// $generalFontFamilyLight: LatoLight;
$generalFontFamilyMedium: CircularMedium;
$generalFontFamilyBold: CircularBold;
$headerFontFamily: YesevaOne;
$text: 300;
$heading: 500;
$thinHeading: 400;
$letterSpacing: 0.0rem;
$normaLineHeight: 2.75rem;
$headerLineHeight: 4.875rem;
$normalFontSize: 1.75rem;
$headerFontSize: 3.5rem;

/*======moible-view========*/
$mobileNormalFontSize: 1.2rem;
$mobileHeaderFontSize: 2.6rem;
$mobileNormaLineHeight: 1.8rem;
$mobileHeaderLineHeight: 3.6rem;
